* {
    font-family: Roboto;
    font-weight: 300;
}

.header {
    font-weight: 700;
}

.App {
  text-align: center;
}

img {
    width: 20%;
}

.stub-container {
    background-color: lightgray;
    margin-left: 25%;
    margin-right: 25%;
}